<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FAQs</title>
</head>
<body>
<div class="container">
    <!-- Section to display already asked FAQs -->
    <h1>Frequently Asked Questions</h1>
    <ul>
        <li th:each="faq : ${answeredFAQs}">
            <h3 th:text="${faq.question}"></h3>
            <p th:text="${faq.answer}"></p>
        </li>
    </ul>

    <!-- Link to navigate to the "Submit FAQ" page -->
    <a href="form">Submit a New Question</a>
</div>
</body>
</html>